/* Color palette used:  
Ink black #0D1F2D (set for background, change in app.css)
Blue slate #546A7B
Cool steel #9EA3B0
Soft blush #FAE1DF
Desert sand #E4C3AD

*/

.spacer {
    height: 100px;
}

.file-container{
    background-color: #0D1F2D;
    height: 550px;
}

.WS-title{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.file-upload{
    height: 300px;
    width: 30%;

    border-color: #9EA3B0;
}

.upload-text{
    color: #9EA3B0;
    font-size: 12px;
}

.file-upload-btn{
    border-color: #9EA3B0;
    color: white;
    background-color: #143147;
    min-width: 7%;
    height: 40px;
    margin: 10px;
}

.file-upload-btn:hover{
    border-color: #9EA3B0;
    color: white;
    background-color: #0D1F2D;
    min-width: 7%;
    height: 40px;
    margin: 10px;
}

.file-select-btn{
    border-color: #9EA3B0;
    color: white;
    background-color: #143147;
    min-width: 10%;
    height: 40px;
    margin: 10px;
}

.file-select-btn:hover{
    border-color: #9EA3B0;
    color: white;
    background-color: #0D1F2D;
    min-width: 10%;
    height: 40px;
    margin: 10px;
}

.file-icon{
    width: 20%;
}

.footer{
    height: 300px;
}