
/* Navbar */
.navbar-container{
    height: 60px;
    background-color: #ffffffff;

}

.navbar-title{
    color: #1e293b;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.navbar-links{
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    color: #64748b;
}

/* Home */

.title-normal{
    color: #1e293b;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.title-gradient{
    background: linear-gradient(to right, #1d4ed8, #0ea5e9);
    color: transparent;
    background-clip: text;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.title-info{
    color: #64748b;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}

.file-dropbox{
    height: 350px;
    min-width: 45%;
    background-color: #ffffffff;
    border: dashed;
    border-color: #cbd5e1;
    border-width: 2px;
}

.upload-text-primary{
    color: #1e293b;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.upload-text-secondary{
    color: #64748b;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.browse-files-btn{
    color: #64748b;
    width: 25%;
    height: 40px;
    border: solid;
    border-width: 2px;
    border-color: #cbd5e1;
}

.active-dropbox{
    height: 350px;
    min-width: 45%;
    background-color: #bfdbfe;
    border: dashed;
    border-color: #3b82f6;
    border-width: 2px;
}

.display-file-name{
    color: #64748b;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.informational-cards{
    color: #64748b;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd5e1;
}

.footer{
    height: 300px;
}